{% extends 'base_generic.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1 class="mb-4 text-center">Salom {{ user.username }} 🤗</h1>
  {% if request.user.is_superuser %}
  <h3 class="text-xl text-center">Statusingiz: ⭐️⭐️⭐️ Superuser</h3>
  {% else %}
  <h3 class="text-xl text-center">Statusingiz: ⭐️⭐️ User</h3>
  {% endif %}
  <h1 class="mb-4 text-center">Sizning kirimlar va chiqimlar sahifangiz📊</h1>
  <a href="{% url 'create_transaction' %}" class="btn btn-success mb-4">Tranzaksiya yaratish</a>
  <a href="{% url 'login' %}" class="btn btn-danger mb-4 float-right">Tizimdan chiqish</a>
  <ul class="list-group">
    {% if transactions %}
      {% for transaction in transactions %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ transaction.get_type_display }} {{ transaction.amount }} so'm 💵 - 
          {{ transaction.get_method_display }}🔁 - {{ transaction.date }}🕓
          <div>
            <a href="{% url 'update_transaction' transaction.id %}" class="btn btn-secondary btn-sm">Tahrirlash✏️</a>
            <form action="{% url 'delete_transaction' transaction.id %}" method="post" style="display:inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm">O'chirish🗑</button>
            </form>
          </div>
        </li>
      {% endfor %}
    {% else %}
      <p class="border py-3 px-4 text-center">Hozircha tranzaksiya mavjud emas ❌</p>
    {% endif %}
  </ul>
{% endblock %}